* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-ingreso{
   position: static;
  left: 30px;
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 12px;

}
    
.form-primary{
    width: calc(100% - 62px);
    text-align: center;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 24px;
    outline: none;
    border: 1px slid cornflowerblue;
    display: flex;
    justify-content: center;
    font-weight: 400;
     margin: auto;
}

.form-primary:focus{
    outline-color: blue ;
}



body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(rgb(12, 47, 88), rgb(5, 20, 107), rgba(186,109,255, 1));
    background-repeat: no-repeat;
    color: rgb(218, 230, 219);
}
.main {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(224, 238, 221, 0.212);
    padding: 5%;

}




.form2 {
    width: calc(100% - 62px);
    height: 50px;
    display: flex;
    width: 50px;
    padding: 10px,10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin: 20px;
    text-align: center;
    justify-content: center;
    font-size: 31px;
    
}
.tabla {
    width: 100%;
    min-width: 800px;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid transparent;
    font-family: 'Libre Franklin', sans-serif;
}
.tabla__head, .tabla__footer {
    display: grid;
    grid-template-columns: 170px repeat(4, 1fr);
    gap: 4px;
}
.p
{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    border: 1px solid transparent;
    border-radius: 7px;
}
.btn {
    display: block;
    margin: 10px auto;
    padding: 10px 24px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    background-color: rgba(248, 0, 0, 0.1);
    border-radius: 7px;
    color: #ccebf3;
    cursor: pointer;
}